html {
    background-color: #222;
    color: #fff;
}
h1 {
    font-size: 32pt;
}
h2 {
    font-size: 25pt;
}
h3 {
    font-size: 20pt;
}
body {
    font-family: sans-serif;
    padding: 30px;
    box-sizing: border-box;
    margin: 0;
}
img {
    max-width: 700px;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    margin: 10px 0;
}
code {
    padding: 15px;
    color: #fff;
    background: #111;
    border-radius: 9px;
    display: inline-block;
}
a {
    color: cornflowerblue;
}

#homeLink {
    color: #fff;
    text-decoration: none;
}

#loading {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    display: block;
}

#repos {
    max-width: 1000px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.projectTile {
    width: 30%;
    height: 300px;
    margin: 1.5%;
    margin-bottom: 35px;
    display: inline-block;
    box-shadow: 2px 2px 5px #222;
    border-radius: 5px;
    background-size: cover;
    background-position: top;
    cursor: pointer;
}
.projectTile > .title {
    height: 60px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 240px;
}
.modalHidden {
    display: none;
}
.modalVisible {
    position: absolute;
    background: #222;
    display: block;
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-sizing: border-box;
    color: #fff;
    padding: 5%;
    padding-top: 20px;
    box-shadow: 0px 0px 20px #000;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
}
#closeModal {
    float: right;
    margin-top: 20px;
    font-size: 25pt;
    cursor: pointer;
}

#modalScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.button {
    padding: 10px 20px;
    color: #fff;
    margin-top: 22px;
    margin-right: 20px;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 10px;
    float: right;
    font-size: 12pt;
    margin-bottom: 20px;
}
.button:hover {
    color: #222;
    background-color: #fff;
    font-weight: 500;
}

.footer {
    font-size: 10pt;
    color: #888 !important;
    text-align: right;
}

@media only screen and (max-width: 900px) {
    .projectTile {
        width: 47%;
        height: 300px;
        margin: 1.5%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .projectTile {
        width: 97%;
        height: 300px;
        margin: 1.5%;
        margin-bottom: 25px;
    }

    #closeModal {
        margin-top: 5px;
    }

    .button {
        margin-top: 7px;
    }
}
