html {
  margin: 0;
  background-color: rgb(46, 46, 46);
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#title {
  font-size: 10em;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 30vh;
}

#sketchHolder {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.buttons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 260px;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  padding: 16px;
  border: #fff solid 2px;
  border-radius: 6px;
  font-size: 1.4em;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 898px) {
  #title {
    margin-top: 10vh;
  }
}

@media only screen and (max-width: 600px) {
  #title {
    font-size: 6em;
  }
}
