html {
    margin: 0;
    background-color: #000000;
    user-select: none;
    overflow: hidden;
}

body {
    margin: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

#title {
    font-size: 10em;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 30vh;
}

#sketchHolder {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.buttons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 328px;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    padding: 13px;
    border: #fff solid 1.5px;
    border-radius: 6px;
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
}

.button:hover {
    background-color: #fff;
    color: #222;
}

@media only screen and (max-width: 898px) {
    #title {
        margin-top: 10vh;
    }
}

@media only screen and (max-width: 600px) {
    .buttons {
        width: 120px;
    }
    .button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }
    #title {
        font-size: 6em;
    }
}

@media only screen and (max-height: 480px) {
    #title {
        font-size: 6em;
    }
}

@media only screen and (max-height: 560px) and (max-width: 600px) {
    #title {
        margin-top: 0px;
        font-size: 6em;
    }
}
