code {
    background-color: #191919 !important;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12pt !important;
}

pre code {
    padding: 10px;
    background: none;
}

pre {
    border-radius: 5px;
    background-color: #191919 !important;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 6px 20px;
}

th {
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #aaa;
}
